.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.center-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
  width: 50vw;
}

.to-do {
  font-family: "Josefin Sans", sans-serif;
  color: black;
  font-weight: 700;
  font-size: 5rem;
}
.input-box {
  background-color: hsl(234, 39%, 85%);
  padding: 0.6em;
  display: flex;
  cursor: pointer;
  justify-content: flex-start;
  width: 40vw;
  height: 5vh;
  border-radius: 0.5rem;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border: 0.25px solid hsl(234, 39%, 85%);
}
input[type="checkbox"] {
  height: auto;
  width: 1.5rem;
  vertical-align: middle;
  margin-right: 1.5rem;
  accent-color: hsl(234, 39%, 85%);
  border-radius: 3rem;
  outline: none;
  cursor: pointer;
  border: 1px solid white;
}
input[type="text"] {
  border: none;
  cursor: pointer;
  width: 100%;
  font-size: 1.5rem;
  background-color: hsl(234, 39%, 85%);
  color: black;
  font-family: "Josefin Sans", sans-serif;
}
input[type="text"]:focus {
  outline: none;
}

.delete-button {
  background-color: transparent;
  border: none;
  color: red;
  cursor: pointer;
}
.strike-through {
  text-decoration: line-through;
  text-decoration-color: black;
  accent-color: hsl(234, 39%, 40%);
}

.timestamp {
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: "Roboto", sans-serif;
  font-size: 0.6rem;
  text-align: center;

  /* border: 1px solid #ced4da; */
  border-radius: 3px;
  /* padding: 1em; */
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
  /* margin-top: 1em; */
  width: 10%;
}
